# =============================================================================
# Site Configuration
# =============================================================================
# Your site URL for redirects and webhooks
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_POCKETBASE_URL=http://localhost:8090 

# Google Analytics, comment out to disable
# NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=G-XXXXXXXXXX
