# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Next.js build outputs
.next/
public/sitemap.xml
public/robots.txt

# Dependencies
node_modules/

# Environment files
.env*
!.env.local.example

# Misc
.DS_Store

# TypeScript build cache
tsconfig.tsbuildinfo