# ==============================
# General
# ==============================
SITE_URL=http://localhost:3000

# ==============================
# Stripe
# ==============================
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

# ==============================
# BREVO
# ==============================
BREVO_API_KEY=xxxxxxx